[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = main
[user]
    name = krokosik
	email = krokosik@pm.me
[includeIf "gitdir:/home/wkrokosz/kod/"]
    path = .gitconfig.lab
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[credential]
	helper = libsecret
	helper = oauth
[core]
	editor = nvim
[advice]
	mergeConflict = false
